<!doctype html>
<html>
    <head>
        <title>linux performance monitor</title>
    </head>
    <body>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/js/highcharts.js"></script>
	<script src="/js/modules/exporting.js"></script>
    <p>
        {% set h_period = period / (60 * 60) %}
        <b>period</b>
        {% if h_period == 1 %} <b>1</b> {% else %} <a href="?period=1">1</a>{% endif %} &nbsp;
        {% if h_period == 2 %} <b>2</b> {% else %} <a href="?period=2">2</a>{% endif %} &nbsp;
        {% if h_period == 4 %} <b>4</b> {% else %} <a href="?period=4">4</a>{% endif %} &nbsp;
        {% if h_period == 8 %} <b>8</b> {% else %} <a href="?period=8">8</a>{% endif %} &nbsp;
        {% if h_period == 12 %} <b>12</b> {% else %} <a href="?period=12">12</a>{% endif %} &nbsp;
        {% if h_period == 24 %} <b>24</b> {% else %} <a href="?period=24">24</a>{% endif %} &nbsp;
    </dl>
	<script>

$(function(){
    $('#container').highcharts({
        chart: { type: "line" },
        title: { text: "linux performance graph" },
        xAxis: {
            type: "datetime"
        },
        yAxis: [{
            title: {text: "percentage"},
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
            min: 0,
            type: 'linear'
        }, {
            title: {text: "iops"},
            opposite: true,
            min: 0
        }],
        series: [{
            yAxis: 0,
            name: 'cpu',
            data: {{json_cpu_array|raw}}
        }, {
            yAxis: 0,
            name: 'mem',
            data: {{json_mem_array|raw}}
        }, {
            yAxis: 0,
            name: 'swap',
            data: {{json_swap_array|raw}}
        }, {
            yAxis: 1,
            name: 'io',
            data: {{json_io_array|raw}}
        }]


    });
});
	</script>

	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </body>
</html>
